name: "NixOS CI"

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v27
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    
    - name: Check Flake
      run: nix flake check
    
    - name: Check Formatting
      run: nix fmt -- --check

    - name: Build System (Dry Run)
      run: |
        nix build .#nixosConfigurations.nixos-nvme.config.system.build.toplevel --dry-run
